@{
    ViewData["Title"] = "Alla hästar";
}

<div>
    <h1>Träffa våra hästar</h1>
    <div id="cardContainer">
        <a class="card" href="./Våra Hästar/Luffen.html">
            <img src="~/images/placeholderSmallImg.png" class="card-img-top" alt="Luffen">
            <div class="card-body">
                <h5 class="card-title">Luffen</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </a>
        <a class="card" href="./Våra Hästar/Kotte.html">
            <img src="~/images/placeholderSmallImg.png" class="card-img-top" alt="Kotte">
            <div class="card-body">
                <h5 class="card-title">Kotte</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </a>
        <a class="card" href="./Våra Hästar/Troll.html">
            <img src="~/images/placeholderSmallImg.png" class="card-img-top" alt="Troll">
            <div class="card-body">
                <h5 class="card-title">Troll</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </a>
    </div>
</div>