@{
    ViewData["Title"] = "Kontakt";
}

<div>
    <div class="container">
        <div class="row">
            <div class="contactpage col-12 col-md-6">
                <h1>Kontakta Oss</h1>
            </div>
            <div class="contactpage col-12 col-md-6">
                <h1>Hitta hit</h1>
            </div>
        </div>
        <partial name="_UnderConstruction" />
    </div>
</div> 