@{
    ViewData["Title"] = "Kontakt";
}

<div>
    <div class="container">
        <div class="row">
            <div class="contactpage col-12 col-md-6">
                <h1>Kontakta Oss</h1>
                <p>Email: stallet@dyviksnas.se</p>
            </div>
            <div class="contactpage col-12 col-md-6">
                <h1>Hitta hit</h1>
                <div>
                    <p>
                        Stallet har ingen adress men ligger på Södra Rörängsslingan, väl synligt från Dyviksvägen.
                        Den adress som kan användas som riktlinje är Dyviksvägen 110.
                    </p>
                    <p>
                        Om ni åker från Åkersberga kör ni 276:an mot Norrtälje. Tag höger vid Åsättra mot Dyvik. Vägen svänger 90grader åt vänster vid Bammarboda korsningen. Stallet ligger på höger sida i en svacka innan marinan.
                    </p>
                    <p>
                        Kommer ni från Norrtälje så kan ni även svänga av 276:an vid Björnhuvud och följa skyltarna mot Dyvik. (Tag 90 grader höger när ni kommer till Dyviksvägen. Tydlig T-korsning.) Då passerar ni Marinan, sen ligger stallet i nästa svacka på vänster sida.
                    </p>
                    <p>
                        Åker ni buss så stannar buss 620 Norrtälje/Åkersberga precis intill stallet på hållplatsen Fåfängan. På SL appen eller hemsidan söker ni på Fåfängan(Österåker).
                    </p>
                    <p>
                        Välkomna! 🤗
                    </p>
                </div>
                <iframe id="gmap_iframe" src="https://maps.google.com/maps?q=59.521576, 18.499326&amp;hl=sv&amp;t=m&amp;z=16&amp;iwloc=B&amp;output=embed" title="Dyviksnäs Gård, Åkersberga" aria-label="Dyviksnäs Gård, Åkersberga"></iframe>
            </div>
        </div>
    </div>
</div> 