@{
    ViewData["Title"] = "Nyheter";
}

<div>
    <h1>Nyheter</h1>
    <div id="newsLetter">
        <div id="local">
            <div class="newsCard">
                <!-- Will be created dynamically -->
                <div class="postDetails">
                    <!-- post details; date, name of author? -->
                    <span>Datum för nyhet</span>
                    <span>Författare</span>
                </div>
                <hr>
                <div class="postContent">
                    <!-- post content -->
                    <img src="~/images/PlaceholderBigImg.png" />
                    <h3>Nyhetstitel</h3>
                    <div>
                        <p>Felis eget nunc lobortis mattis aliquam. Est ullamcorper eget nulla facilisi etiam dignissim. Tortor at auctor urna nunc id. Duis convallis convallis tellus id interdum velit laoreet id. Pellentesque habitant morbi tristique senectus et netus. Blandit cursus risus at ultrices mi tempus. Imperdiet nulla malesuada pellentesque elit eget gravida. Proin sed libero enim sed faucibus turpis in eu mi. Sagittis purus sit amet volutpat consequat. Aliquet lectus proin nibh nisl. Varius morbi enim nunc faucibus a pellentesque sit amet porttitor. Eu lobortis elementum nibh tellus molestie. At tempor commodo ullamcorper a. Velit euismod in pellentesque massa placerat duis. Fermentum iaculis eu non diam phasellus vestibulum. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Nunc scelerisque viverra mauris in aliquam sem fringilla. Sed lectus vestibulum mattis ullamcorper velit sed.</p>
                    </div>
                </div>
            </div>
        </div>
        @*<div id="socialMedia">
            <!-- Insta or FB flow? -->
        </div>*@
    </div>
</div>
