
/* Primary */
$falured-light: #a01e1e 
$falured: #801818 
$falured-dark: #661313

/* Secondary */
$terracotta-light: #eeac9e 
$terracotta: #e2725b 
$terracotta-dark: #d74426

/* Backgrounds, Texts */
$black: #000000 
$white: #ffffff 
$white-70: rgba(255,255,255, 0.7) 
$grey-light: #d3d3d3 
$grey: #777777 
$grey-dark: #5f5f5f
